/* Import fonts */
@import url('https://fonts.goolgeapis.com/css2?family=Lobster:wgt@300;400;600;700&diaplay=swap');
/* common properties */
:root {
    --light-color: #fff;
    --light-color-alt: #afb6cd;
    --primary-background-color: #131417;
    --secondary-background-color: #252830;
    --hover-light-color: var(--light-color);
    --hover-dark-color: var(--primary-background-color);
    --gradient-color: linear-gradient(115deg, #4fcf70, #fad648, #a767e5, #12bcfe, #44ce7b);
    --tranparent-light-color: rgba(255, 255, 255, .05);
    --tranparent-dark-color: rgba(0, 0, 0, .75);
    --font-family: 'Lobster';
    --font-size-xsm: 1.2rem;
    --font-size-sm: 1.6rem;
    --font-size-md: 2.4rem;
    --font-size-lg: 3rem;
    --font-size-xl: 4rem;
    --gap: 2rem;
    --margin-sm: 2rem;
    --margin-md: 3rem;
    --item-min-height-sm: 20rem;
    --item-min-height-md: 30rem;
}

/* Base Style */
* {
    margin: 0; 
    padding: 0;
    box-sizing: border-box;
}

html {
    /* font-size: 10px; */
    font-size: 62.5%;
}

body {
    font-family: var(--font-family);
    font-size: var(--font-size-sm);
    color: var(--light-color-alt);
    background-color: var(--primary-background-color);
    letter-spacing: 1px;
    transition: background-color .25s, color .25s;
}

a {
    text-decoration: none;
    color: inherit;
}

img {
    max-width: 100%;
    display: block;
}

ul {
    list-style: none;
}

input, button {
    font: inherit;
    color: inherit;
    border: none;
    background-color: transparent;
    outline: none;
}

i {
    font-size: var(--font-size-md);
}
/* Theme Color Change */

/* Reusable Classes */

/* Header */

/* Header Javascript Style */

/* Search */

/* Form Javascript Style */

/* Featured Article */

/* Featured Article Sidebar */

/* Quick Read */

/* Quick Read Swiper */

/* Older Posts */

/* Popular Tags */

/* Newsletter */

/* Footer */

/* Blog Posts */

/* Media Queries */